<% content_for :title do %>Into the forest<% end %>
<% content_for :game_title do %>Code the games<% end %>
<% content_for :head do %>
  <!-- your tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<% end %>

<img src="assets/scrabble.jpg" id="bg" alt="">
<div class="row-fluid">
<div class="span2"></div>
<div class="span8">
	hello
	<div class="center hero-unit" id="jumbotron">
	<h1>Les jeux sont faites</h1>
	 <%= link_to "Start TicTacToe", new_path, class: "btn btn-large btn-success my_btn" %>
	 <%= link_to "Start Snake", "/snake", class: "btn btn-large btn-success my_btn" %>
	 </div>
</div>
<div class="span2"></div>
</div>

<!-- USE THIS TO VIEW ALL THE GAMES PLAYED SO FAR -->
<%# @games.each do |game| %>
<%#= game.inspect %>
<!-- <br> -->
<%# end %>
