/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#logo {
	font-family: 'Ribeye Marrow', courier, serif;
}
.right_align {
	font-family: 'Ribeye Marrow', courier, serif;
	margin-right: 70px;
	text-align: right;
}
.my_btn {
	margin: 30px;
	min-width: 120px;
}
.right_align a {
	text-decoration: none !important;
}