// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#my_logo {
	margin-right: 220px;
}
#bg {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
#jumbotron {
  text-shadow: 0 0 4px white;
	position: fixed;
	margin-top: 130px;
	border-radius: 10px;
	background-color:rgba(180,150,139,0.3);
	border: 1px solid rgba(131,104,122,0.6);
}
