<header id="my_nav" class="navbar navbar-fixed-top navbar-inverse">
  <div >
    <div class="container">
      <%= link_to nav_title(yield(:game_title)), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "TicTacToe Game", new_path %></li>
          <li><%= link_to "Snake Game", "/snake" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>